<div class="container">
  <div class="row">
    <div id ="homepage_block" class="col-md-12" align="center" >
          <!--
          <img src="/images/WEBSITELOGO"/>
        -->
          <h4>Welcome to Cancer Antigenic Peptide Database</h4>
          <br/>
          <a href="/Peptide/list" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
            Go to the Database </a> <a href="/Peptide/search" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
            Search in the Databse </a>
    </div>
  </div>
</div>
