<div class="container">
  <div class="row">
    <div id ="homepage_block" class="col-md-12" align="center" >
      <!--
      <img src="/images/WEBSITELOGO"/>
      -->
      <h4>Welcome to the Cancer Antigenic Peptide Database</h4>
      <br/>
      <a href="/Peptide/list" class="btn btn-primary btn-lg">Browse the database</a> <a href="/Peptide/search" class="btn btn-info btn-lg">Search/Filter the database</a>
    </div>
  </div>
</div>
