<!DOCTYPE html>
<html>
<head>
  <title>Cancer Antigenic Peptide Database</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/datatables.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->
</head>
<body>
<div id="wrapper">
  <div id="header-container">
    <nav class="navbar navbar-expand-sm navbar-light mb-4 border" >
      <a class="navbar-brand"><img src="/images/logoDDUVsm.png"/>&emsp;<b>Cancer Antigenic Peptide Database</b></a>


      <!--
      <li class="nav-item">
        <a class="nav-link" href="/Peptide/reglist">Prototype</a>
      </li>
      -->
      <ul class="nav navbar-nav ml-auto navbar-right">
        <li class="nav-item">
          <a class="nav-link nav_page" href="/Peptide/list">Database</a>
        </li>
        <% if (req.session.me) { %>
        <li class="nav-item">
          <a class="nav-link nav_page" href="/Peptide/adminlist">Edit/Remove Peptide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_page" href="/Peptide/add">Add Peptide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/User/logout"><b>Logout</b></a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link nav_page" href="/Peptide/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_page" href="/">About</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
  <div id="body-container"><%- body %></div>
  <div id="footer-container">
    <hr>
    <table align="center">
      <tr>
        <td><a id="logo-footer" href="https://www.deduveinstitute.be/" target="_blank"><img src="/images/logoDDUV.PNG"/></a></td>
        <td valign="top"><br/>&emsp;© 2012-2018 Pierre van der Bruggen <br> <% if (!req.session.me) { %>&emsp;<a href="/User/login"><img src="/images/lock-icon.png"/> Login</a><% } %></td>
      </tr>
    </table>
  </div>
  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="oi oi-chevron-top"></span></a>
</div>
<!--TEMPLATES-->

<!--TEMPLATES END-->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/afnFiltering.js"></script>
<script src="/js/dataTables.rowsGroup.js"></script>
<!--SCRIPTS-->
<script src="/min/production.min.js"></script>
<!--SCRIPTS END-->

<script>
  $(document).ready(function(){
    //Highlight the navlink depending of the current URL
    var pathname = window.location.pathname;
    $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
    $('.nav > li > a[href="'+pathname+'"]').addClass('active');

    //Back to top button
    $(window).scroll(function () {
      if ($(this).scrollTop() > 50) {
        $('#back-to-top').fadeIn();
      } else {
        $('#back-to-top').fadeOut();
      }
    });
    // scroll body to 0px on click
    $('#back-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 150);
      return false;
    });
  });
</script>
</body>
</html>
