<h1>Login</h1>
<form action="/login" method="post">
  <% if (error != null) {%>
  <span style="color:red">Wrong Email or Password.</span><br/>
  <% } %>
  <label for="email">E-mail</label>
  <br/>
  <input name="email" type="text" required/>
  <br/>
  <br/>
  <label for="password">Password</label>
  <br/>
  <input name="password" type="password" required/>
  <br/>
  <br/>
  <input class="btn btn-primary" type="submit"/>
</form>
