<script>
  //Function that check if the file extention is correct and if the file size isn't too big
  function Validate() {
    var allowedFiles = [".pdf"];
    var fileUpload = document.getElementById("submit_file");
    var lblError = document.getElementById("lblError");
    var lblMessage = document.getElementById("lblMessage");
    var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
    var size = ((fileUpload.files.item(0).size/1024)/1024).toFixed(4);
    if (!regex.test(fileUpload.value.toLowerCase())) {
      lblError.innerHTML = "Only <b>" + allowedFiles.join(', ') + "</b> files are allowed.";
      lblMessage.innerHTML = "";
      fileUpload.value = "";
      return false;
    }else if (size > 7){
      lblError.innerHTML = "File size limit: <b>7MB</b>";
      lblMessage.innerHTML = "";
      fileUpload.value = "";
      return false;
    }else {
      lblError.innerHTML = "";
      lblMessage.innerHTML = "";
      return true;
    }
  }
</script>

<div class="container-fluid">
  <form method="post" action="/Peptide/send" enctype="multipart/form-data">
    You found an article about an antigenic peptide that is not present in the database or you do not agree with our classification? Please let us know by submitting a pdf file with a comment! <br/>
    <i>*All fields are mandatory</i><br/>
    <span id="lblError" style="color: red;"></span>
    <span id="lblMessage">
      <% if (typeof message != 'undefined') { %>
      <% if (message == "success") { %>
      <span style="color:green">The file has been successfully submitted.</span>
      <% } else if (message == "error") { %>
      <span style="color:red">An error has occurred. Please try again later.</span>
      <% }} %>
    </span>
    <br/>
    <label><b>E-mail </b></label><br/>
    <input type="text" name="email" required><br/><br/>
    <label><b>Comment </b><i></i></label><br/>
    <textarea id="submit_comment" name="comment" required></textarea><br/><br/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <input id ="submit_file" type="file" name="pdf" onchange="return Validate()" accept="application/pdf" required/><br/><br/>
    <input id ="submit_button" type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
