.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}

.hla_filter {
  width: 40px !important;
}


.freq_filter {
  width: 20px !important;
}

.pos_filter {
  width: 60px !important;
}

.range {
  width: 20px !important;
}

.com_filter {
  width: 40px !important;
}


.comment-cell {
  text-align: center;
}

#generalTable {
  position: relative;
}

#navbar-tables {
  padding: 10px 16px;
}

.nav-item {
  padding:5px;
}

#table-container {
  position: relative;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

u {
  border-bottom: 2px dotted blue;
  text-decoration: none;
  cursor: pointer;
}

th {
  font-size: 11px;
  text-align: center;

}
table.dataTable tbody td {
  vertical-align: top !important;
}

td {
  font-size: 14px;
  border-color: black;
}

.btn-default-outline {
  border-color: #ccc;
}

.borderless td, .borderless th {
  border: thick;
}

#seq_table th {
  text-align: center;
  padding:0;
  margin:0;
}

.nav_page {
  font-weight: bold;
}

.nav_page.active {
  color:#E53C29 !important;
  pointer-events: none;
  cursor: default;
}

.nav_page:hover:not(.active) {
  text-decoration: underline;

}

.main_content{
  margin-bottom: 100px;
}

.navbar{
  border-color: black;
}

.center_td {
  text-align: center;
}

.tooltip-inner {
  max-width: 450px;
  text-align: left;
}
#wrapper {
  min-height: 100%;
  position: relative;
}

#header-container{
  text-align: center;
  height: 80px;
}

#body-container{
  min-height: calc(100vh - 110px);
}

#footer-container{
  height: 30px;
  width: 100%;
  text-align: left;
}


.padded-multiline {
  border-left: 1em solid #FFFFFF;
  display:inline-block;
}

#submit_comment {
  width: 600px;
  height: 300px;
  padding-left:0;
  padding-top:0;
  padding-bottom:0.4em;
  padding-right: 0.4em;
}

.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

.center-large {
  max-height: 10%;
  margin: auto;
}

#homepage_block {
  margin-top: 300px;
}

td.border_mutation, tr.border_mutation{
  border-left: 2px solid #DC3546 !important;
}

td.border_tumor, tr.border_tumor{
  border-left: 2px solid #FEC107 !important;
}

td.border_diff, tr.border_diff{
  border-left: 2px solid #27A844 !important;
}

td.border_over, tr.border_over{
  border-left: 2px solid #007AFF !important;
}

.fb_iframe_widget {
  position: relative;
  top: -4px !important;
}

#about {

  margin-left:auto;
  margin-right:auto;
  max-width:900px;
}
