.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}

.hla_filter {
  width: 40px !important;
}

.freq_filter {
  width: 40px !important;
}

.pos_filter {
  width: 60px !important;
}

.min_range {
  width: 30px !important;
}

.max_range {
  width: 30px !important;
}


.comment-cell {
  text-align: center;
}

body {
  padding: 0px;
  margin-bottom: 50px;
}

#generalTable {
  position: relative;
}

#navbar-tables {
  padding: 10px 16px;
}

.nav-item {
  padding:5px;
}

#main_container {
  position: relative;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

th {
  font-size: 12px;
  text-align: center;

}

td { font-size: 12px; }
