/*
Styles for general elements/layout.
 */

.nav-item {
  padding:5px;
}

.nav_page {
  font-weight: bold;
}

.nav_page.active {
  color:#E53C29 !important;
  pointer-events: none;
  cursor: default;
}

.nav_page:hover:not(.active) {
  text-decoration: underline;

}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

u {
  border-bottom: 2px dotted blue;
  text-decoration: none;
  cursor: pointer;
}

.btn-default-outline {
  border-color: #ccc;
}

#navheader{
  border-bottom: 1px solid #dee2e6!important;
  padding-bottom: 0px !important;
  padding-right: 20px !important;
}


.main_content{
  margin-bottom: 100px;
}

.tooltip-inner {
  max-width: 450px;
  text-align: left;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header-container{
  text-align: center;
  height: 80px;
}

#body-container{
  min-height: 65vh;
}


#footer-container{
  height: 30px;
  width: 100%;
  text-align: left;
}


.padded-multiline {
  border-left: 1em solid #FFFFFF;
  display:inline-block;
}

.fb_iframe_widget {
  position: relative;
  top: -4px !important;
}



/*
Styles for elements of tables
 */

#navbar-tables {
  padding: 10px 16px;
}

#table-container {
  position: relative;
}

th {
  font-size: 11px;
  text-align: center;
}

#seq_table th {
  text-align: center;
  padding:0;
  margin:0;
}


table.dataTable tbody td {
  vertical-align: top !important;
}

td {
  font-size: 14px;
  border-color: black;
}

.hla_filter {
  width: 40px !important;
}

.freq_filter {
  width: 20px !important;
}

.pos_filter {
  width: 60px !important;
}

.range {
  width: 20px !important;
}

.com_filter {
  width: 40px !important;
}

td.border_mutation, tr.border_mutation{
  border-left: 5px solid #DC3546 !important;
}

td.border_tumor, tr.border_tumor{
  border-left: 5px solid #FEC107 !important;
}

td.border_diff, tr.border_diff{
  border-left: 5px solid #27A844 !important;
}

td.border_over, tr.border_over{
  border-left: 5px solid #007AFF !important;
}

.comment-cell {
  text-align: center;
}

.borderless td, .borderless th {
  border: thick;
}


.center_td {
  text-align: center;
}

.btn-group{
  float: right !important;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before {
  display:none;
}

table.dataTable thead .sorting_desc::before {
  display:none;
}


table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
  display:none;
}

table.dataTable thead .sorting_desc::after {
  display:none;
}



/*
Style for details page
 */

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}


/*
Style for homepage
 */

#homepage_block {
  margin-top: 30px;
}

/*
Style for about page
 */

#about {

  margin-left:auto;
  margin-right:auto;
  max-width:1000px;
}

/*
Style for help page
 */

.post-container {
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
  overflow: auto
}

.post-title {
  font-weight: bold;
  font-size: 200%
}

#help_bar {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;

}

.image_help{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/*
Style for submit page
 */

#submit_comment {
  width: 600px;
  height: 300px;
  padding-left:0;
  padding-top:0;
  padding-bottom:0.4em;
  padding-right: 0.4em;
}
